#python standard 
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version

.venv/
venv/
ENV/
env/

#data
data/dataset_pro
yectil.csv
data/dataset_proyectil.csv


#Ml
outputs/*.joblib
outputs/*.pkl

outputs/


#Vscode
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

#OS
.DS_Store
Thumbs.db

# cache compiled
*.cpython-*.pyc